/* sass */

$font-family:'Caveat',
cursive;
$p-font: 'Comfortaa',
cursive;
$color: #ff401b;

/* global*/

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/crossword.png");
    font-family: $font-family;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 3em;
}

p {
    margin: 1.5em;
    font-family: $p-font;
}

ul {
    margin: 0;
    padding: 0;
}


/* scroll to top*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #dadada;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/* header */

.menu {
    color: $color;
}

nav ul {
    position: relative;
    z-index: 1;
    width: inherit;
    height: 60px;
}

nav ul li {
    line-height: 60px;
    padding: 0 20px;
    float: left;
    font-size: 26px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 1s
}

.sidebar {
    position: absolute;
    top: 0;
    height: inherit;
    width: 300px;
    transition: left 1s;
}

.sidebar ul {
    width: inherit;
}

header {
    padding-bottom: 100px;
}

.sidebar ul li {
    margin: 50px 10px;
    padding: 10px;
    color: $color;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 1s;
}

.sidebar ul li:hover {
    opacity: 1;
}

.hide-sidebar {
    left: -300px;
}

.show-sidebar {
    left: 0;
}

.menu-clicked {
    transform: scale(1.25);
    opacity: 1;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.centered li a {
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: $color;
    font-weight: bolder;
    opacity: 1;
    font-size: 0.8em;
}

.slogan {
    text-align: center;
    display: block;
    top: 30%;
}

.slogan h1 {
    opacity: 0.8;
    font-size: 6em;
    color: $color;
    line-height: 2em;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 0.5em;
    border: 10px solid rgba(255, 255, 255, 0.25);
    margin: 0 24%;
}

.slogan h2 {
    font-style: italic;
    opacity: 0.8;
    font-size: 4em;
    color: white;
}

nav ul {
    position: relative;
    z-index: 1;
    width: inherit;
    height: 60px;
}

nav ul li {
    line-height: 60px;
    padding: 0 20px;
    float: left;
    font-size: 26px;
    opacity: 0.6;
    color: #FFF;
    cursor: pointer;
    transition: all 1s
}

.sidebar {
    position: absolute;
    top: 0;
    height: inherit;
    width: 300px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
    transition: left 1s;
}

.sidebar ul {
    width: inherit;
}

.sidebar ul li {
    margin: 50px 10px;
    padding: 10px;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 1s;
}

.sidebar ul li:hover {
    opacity: 1;
}

.hide-sidebar {
    left: -300px;
}

.show-sidebar {
    left: 0;
}

.menu-clicked {
    transform: scale(1.25);
    opacity: 1;
}

.centered {
    position: absolute;
    left: 50%;
    padding-top: 50%;
    transform: translate(-50%, -50%);
}

#demo-1 {
    height: 800px;
    position: relative;
}

#header-menu {
    position: fixed;
    z-index: 999;
}

.header_info {
    float: left;
    color: white;
    margin-left: 10%;
}

.header_info li {
    float: left;
    line-height: 1em;
    padding: 0 30px;
    font-size: 1.5em;
}

.header_info li i {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 2em;
}

.header_info li a {
    text-decoration: none;
    margin-left: 5px;
}

.header_info li span {
    margin-left: 5px;
}

.fa-phone,
.fa-envelope-o {
    color: $color;
}

.header_info li a[href="mailto:example@example.com"] {
    text-decoration: none;
    color: white;
}

;

/* social icons*/

.social_icons {
    float: right;
    margin: 0.5em 1em 0 0;
    padding: 5px;
}

.social_list li {
    display: inline-block;
}

.social_list li a {
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 13px;
    border-radius: 50%;
}

.social_list li a i {
    line-height: 2.4em;
}

.social_list li a:hover {
    color: #fff;
    cursor: pointer;
}

a.w3_agile_facebook {
    background: #3b5998;
    border-color: #3b5998;
}

a.w3_agile_twitter {
    background: #1da1f2;
    border-color: #1da1f2;
}

a.w3_agile_youtube {
    background: #ff2120;
    border-color: #ff2120;
}

a.w3_agile_rss {
    background: #ffbe4a;
    border-color: #ffbe4a;
}

#about_us_img img {
    margin: 7px 0;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}

//* about us *//
.about-us-text p {
    line-height: 2.5em;
    margin-top: 0;
}

#container_aboutus h2 {
    margin-bottom: 3em;
}

.offer {
    margin: 0 auto;
    width: 70%;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}

.about_us_1 {
    padding-bottom: 100px;
}

//* gallery*//
#gallery_i h2 {
    margin-bottom: 2em;
}

#gallery_i {
    margin-bottom: 100px;
}


/* contact us*/


/*google map*/

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/* contact form*/

.contact-wrap {
    width: 100%;
    margin-top: 10%;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    color: black;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: $color;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #ff6749;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

#contact-us-fa {
    display: block;
    text-align: center;
    padding: 2em;
    font-size: 1.5em;
}

#contact-us-fa span {
    margin: 50px;
}


/* footer */

.social_list_footer {
    text-align: center;
}

.social_list_footer,
li {
    margin: 10px;
}

footer div,
a[href="mailto:example@example.com"] {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .slogan h1 {
        font-size: 3em;
        letter-spacing: 0;
        border: 0;
        margin: 0 auto;
    }
    .slogan h2 {
        font-size: 2em;
    }
    .offer {
        width: 20%;
        margin: 0 auto;
    }
    #container_aboutus h2 {
        margin-bottom: 1em;
    }
    p {
        margin: 2em;
        text-align: justify;
    }
}
